* {
  margin: 0px;
  padding: 0px;
}

.cal {
  margin: 50px;
  border: 2px solid #0b0c0b;
  padding: 20px;
  width: fit-content;
  border-radius: 20px;
  background-color: #8dc6ff;
}

p {
  border: 2px solid #0b0c0b;
  padding: 10px 10px;
  width: 282px;
  height: 40px;
  font-size: 25px;
  text-align: right;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 0px;
  overflow: hidden;
  float: right;
  background-color: #e4f1fe;
}

.btn-fun {
  background-color: #f96d00;
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 18, 18);
  /* padding: 10px 18px; */
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #0b0c0b;
  box-shadow: 0px 3px;
  margin: 4px 4px 4px 0px;
  width: 70px;
  height: 30px;
  font-weight: bold;
}

.btn-num {
  background-color: #ff847c;
  font-family: 'Montserrat', sans-serif;
  color: rgb(20, 18, 18);
  /* padding: 10px 18px; */
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #0b0c0b;
  box-shadow: 0px 3px;
  margin: 4px 2px;
  width: 50px;
  height: 30px;
  font-weight: bold;
}

.btn-operator {
  font-family: 'Montserrat', sans-serif;
  background-color: #e84a5f;
  color: rgb(20, 18, 18);
  /* padding: 10px 18px; */
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #0b0c0b;
  box-shadow: 0px 3px;
  margin: 4px 2px;
  width: 50px;
  height: 30px;
  font-weight: bold;
}

.drop {
  margin: 10px 10px 10px 0px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

.btn-fun:active {
  background-color: #555555;
  color: white;
}

.btn-num:active {
  background-color: #555555;
  color: white;
}

.btn-operator:active {
  background-color: #555555;
  color: white;
}

.demo {
  margin: 10px 10px;
  border: none;
  background-color: white;
}

.btn-m {
  margin: 5px 18px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: #8dc6ff;
}